/* Medium Layout: 1280px. */

@media only screen and (min-width: 992px) and (max-width: 1280px) {
.container{
	width: 970px;
}  
.mainmenu ul li a {
  padding: 15px 14px;
}
.right-slide-new {
  width: 90%;
}
.b_s_t_Sp {
  height: 170px;
}
.featered_products .badge {
  position: absolute;
  right: 77px;
  top: 0;
}
.latest_product .owl-carousel .owl-next {
  position: absolute;
  right: 20px;
  top: 34%;
}
.featered_products ul.nav.nav-tabs {
  
}

.first_wid_social ul li a {
  height: 34px;
  line-height: 34px;
  margin-right: 5px;
  width: 34px;
}
.info-title a {
  font-size: 14px;
}
.sidebar_cart {
  margin-bottom: 5px;
}
}

/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
 .container{
	width:750px;
}
.mainmenu ul li a {
  padding: 15px 8px;
}
.b_s_t_Sp {
  height: 212px;
}
.main_nav_dropdown ul li, .main_pages_dropdown ul li {
  width: 192px;
}
.right-slide-new {
  width: 80%;
}
.banner-top .banner-inner-content {
  margin: 10px 0 10px;
}
.text-banner-4 .banner-texthome > h2 {
  font-size: 36px;
}
.banner-texthome {
  padding-bottom: 20px;
}
.text-banner-3 .banner-texthome h2 {
  font-size: 14px;
}
.text-banner-3 .banner-texthome h3 {
  font-size: 12px;
}
.featered_products ul.nav.nav-tabs {
  width: 78%;
}
.f_blog_heading a {
  font-size: 14px;
}
.info-title a {
  font-size: 14px;
}
.footer_wid h3 {
  font-size: 13px;
}
.first_wid_social ul li a {
  margin-bottom: 8px;
}
.footer_bottom_left ul li a {
  font-size: 13px;
}
.footer_bottom_left ul li {
  padding: 0 3px 0 2px;
}
.footer_bottom_right p {
  font-size: 13px;
}
.categories .anav-left i {
  font-size: 14px;
}
.anav-left {
  padding: 0 9px;
}
.categories .categories_title span {
  font-size: 14px;
}
.sidebar_sale h2, .sidebar_p_tags h2, .sidebar_latest_p h2 {
  font-size: 15px;
}
.sidebar_sale h2, .sidebar_p_tags h2, .sidebar_latest_p h2 {
  margin-bottom: 5px;
}
.single_weekly_featured {
  padding-bottom: 5px;
}
.sidebar_cart {
  margin-top: 13px;
  margin-left: 12px;
}
.home_three_sidebar .featured_info {
  margin-left: 12px;
  margin-top: 7px;
}
.sidebar_banner .banner-inner-content .banner-texthome h2 {
  font-size: 20px;
}
.sidebar_banner .banner-inner-content .banner-texthome h3 {
  font-size: 13px;
}
.sidebar_latest_p.shop_car {
  margin-bottom: 60px;
}
.shop_left .nod_text .modal_icon ul li a {
  height: 34px;
  line-height: 34px;
  margin-right: 4px;
  width: 34px;
}
.add_to_carts > input[type="number"] {
  padding: 8px 5px;
  width: 23%;
}
.shop_left .nod_text .add_to_carts a {
  padding: 10px 16px;
}
.nav-tabs > li > a {
  font-size: 7px;
  margin-right: 16px;
}
.product_left_tab .nav-tabs > li.active > a, .product_left_tab .nav-tabs > li.active > a:hover, .product_left_tab .nav-tabs > li.active > a:focus {
  font-size: 16px;
}
.top_cart_menu ul li {
  width: 237px;
}
.product_cart_quantity {
  width: 24%;
}
.product_cart {
  width: 51%;
}
.p_cart_img {
  padding: 22px 0;
}
#owl-feature .item, #owl-feature-two .item, #owl-feature-three .item  {
  margin-right: 20px;
}
.featered_products .badge {
  right: 20px;
}
.latest_product .owl-carousel .owl-next {
  right: 25px;
}
}

/* Mobile Layout: 320px. */

@media only screen and (max-width: 1000px) {
    .header_top_cc_right > ul {
      list-style: outside none none;
      margin: 0;
      padding: 0;
      text-align: center;
    }
}

@media only screen and (max-width: 767px) {
.container {
	width:320px;
}
.header_top_cc_right > ul {
    
}
.header_top_cc_right ul li a {
  font-size: 11px;
}
.header_top_cc_right {
  margin-top: 10px;
}
.featered_products .badge {
  position: absolute;
  right: 44px;
  top: 0;
}
.header_bottom_area {
  display: none;
}
.slider_area_home1 {
  margin-top: 0;
}
.support-info {
  margin-bottom: 20px;
}
.footer_wid {
  margin-bottom: 20px;
}
.footer_bottom_right {
  text-align: center;
  margin-top: 20px;
}
.shop_page .bredcumb > ul {
  width: 290px;
}
.bredcumb ul li a {
  padding: 8px;
}
.home_three_sidebar .featured_info {
  margin-top: 15px;
}
.sidebar_cart {
  margin-bottom: 5px;
  margin-top: 13px;
}
.sidebar_latest_p.shop_car {
  margin-bottom: 30px;
}
.bredcumb > ul {
  width: 295px;
}
.shop_left .nod_text {
  margin-top: 15px;
}
.bread-title {
  font-size: 56px;
  margin-top: -19px;
}
.contact_p_left {
  margin-bottom: 10px;
}
.shipping_details {
  margin-top: 30px;
}
.top_cart_menu ul li {
  margin-bottom: 20px;
}

.p_cart_img {
  display: none;
}

.cart_remove {
  width: 25%;
}
.p_cart_name {
  width: 75%;
  padding-top: 13px;
}
.product_cart_price {
  width: 15%;
}
.product_cart_quantity {
  width: 46%;
}
.product_cart_total {
  width: 15%;
}
.product_cart {
  width: 24%;
}
.p_cart_name span {
  font-size: 12px;
}
.cart_remove a {
  font-size: 9px;
  height: 15px;
  line-height: 6.5px;
  padding-top: 3.5px;
  width: 15px;
}
.cart_input_quantity > input[type="number"] {
  padding: 6px 4px;
}
.update_cart a {
  font-size: 12px;
  padding: 10px 14px;
}
.blog_sidebar {
  margin-bottom: 20px;
}
.header_middle_right {
  display: none;
}
.cc_mobile_navigation {
  box-shadow: 0 2px 10px #eeeeee;
  display: block;
  margin-bottom: 20px;
  margin-top: 20px;
}
.header_middle_cc_search {
  margin-top: -20px;
}
.slider_area_home1, .slider_area_home1.slider_area_home2 {
  top: 0px;
}
.header_middle_cc_search .search_drpdwn {
  width: 240px;
}

.only-for-mobile {
  display: block !important;
  margin-top: 0;
  position: relative;
}
.ofm {
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 9;
}
.ofm li {
  color: #424343;
  float: left;
  font-size: 16px;
  font-weight: bold;
  list-style: outside none none;
  padding: 13px 0;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
}

.ofm li:hover {
  color: #1b9eae;
}
.m_nav {
  cursor: pointer;
}
.ofm li i {
  font-size: 17px;
}
#cssmenu {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: #f5f5f5 none repeat scroll 0 0;
  border-color: #dddddd #dddddd -moz-use-text-color;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 1px medium;
  color: #ffffff;
  font-family: Helvetica,Arial,sans-serif;
  margin: 2px auto;
  max-width: 300px;
  width: 100%;
}
#cssmenu, #cssmenu ul, #cssmenu ul li, #cssmenu ul li a {
  border-bottom: 1px solid #ffffff;
  box-sizing: border-box;
  color: #ffffff;
  display: block;
  line-height: 1;
  list-style: outside none none;
  margin: 0;
  padding: 0;
  position: relative;
  text-shadow: 0 0 0 #ffffff;
  background: #1b9eae none repeat scroll 0 0;
}

#cssmenu ul li a:hover {
  background: black none repeat scroll 0 0;
}

#cssmenu > ul > li > a {
  padding: 15px 20px !important;
  text-transform: uppercase;
}
.holder {
  height: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
}
.holder::after {
  background: rgba(0, 0, 0, 0) url("../images/plus.png") no-repeat scroll 50% 50%;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 50%;
  content: "";
  display: block;
  height: 22px;
  position: absolute;
  right: 22px;
  top: 11px;
  width: 22px;
  z-index: 10;
}
.main_nav_box {
  display: none;
}
#cssmenu > ul > li.active > a > span::after, #cssmenu > ul > li.open > a > span::after {
  background: rgba(0, 0, 0, 0) url("../images/minus.png") no-repeat scroll 50% 50%;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 50%;
  content: "";
  display: block;
  height: 22px;
  position: absolute;
  right: 40px;
  top: 11px;
  width: 22px;
  z-index: 10;
}
#cssmenu > ul > li.active > a > span::after, #cssmenu > ul > li.open > a > span::after {
  content: "";
  position: absolute;
  right: 22px;
}
#owl-feature .item, #owl-feature-two .item, #owl-feature-three .item, #latest-product-caro .item {
  margin: 3px;
  display: block;
  margin: 0 auto;
  width: 81%;
}
.home_three #owl-feature-three .item, .home_three #owl-feature .item, .home_three #owl-feature-two .item, #owl-np-three .item, #owl-np-two .item, #owl-new-products .item {
display: block;
margin: 0 auto 0 28px;
width: 100%;
}
.featered_products .owl-carousel .owl-prev {
  left: 29px;
}
.featered_products .owl-carousel .owl-next {
  right: 32px;
}
.latest_product .owl-carousel .owl-prev {
  left: 22px;
}
.latest_product .owl-carousel .owl-next {
  right: 47px;
}
.featered_products ul.nav.nav-tabs {
  margin: 18px auto 18px;
  width: 100%;
}
.home_three .featered_products {
  margin-top: 80px;
}
.home_three .featered_products .owl-carousel .owl-prev {
  left: 29px;
}
.home_three .featered_products .owl-carousel .owl-next {
  right: 35px;
}
.cc_one1 .badge .inner {
  right: 16px;
}
.shop_left .latest_product .owl-carousel .owl-prev {
  left: 15px;
}
.shop_left .latest_product .owl-carousel .owl-next {
  right: 15px;
}
.welcome_area {
  padding-top: 112px;
}
.b_s_t_Sp {
  height: 384px;
}
.c_left_c {
width: 100%;
margin-bottom: 20px;
}
.c_middle_c {
  width: 100%;
margin-bottom: 20px;
}
.c_right_c {
  width: 100%;
}
.single_b_contact_form textarea {
  width: 92%;
}
.add_cart_h_img {
  margin-right: 7px;
  width: 50px;
}
.cart_number_drd {
  width: 300px;
}
.bottom_add_c_h ul li a {
  width: 127px;
}
}



/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {
.container {
	width:450px;
}
.featered_products .badge {
  position: absolute;
  right: 22px;
  top: 0;
}
.featered_products .owl-carousel .owl-prev {
  left: 24px;
}
.b_s_t_Sp {
  height: 262px;
}
.latest_product .owl-carousel .owl-prev {
  left: 15px;
}
.latest_product .owl-carousel .owl-next {
  right: 16px;
}
.header_top_cc_right > ul {
  /*text-align: right; mel */
  text-align: center;
}
.single_weekly_img > img {
  width: auto;
}
.single_weekly_img_hover > img {
  width: auto;
}
.home_three_sidebar .featured_info {
  margin-top: 40px;
}
.footer_bottom_left ul {
  text-align: center;
}
.shop_page .bredcumb > ul {
  width: 290px;
}
.bredcumb > ul {
  width: 421px;
}
.bredcumb ul li a {
  padding: 8px 4px;
}
.product_left_tab .nav-tabs > li.active > a, .product_left_tab .nav-tabs > li.active > a:hover, .product_left_tab .nav-tabs > li.active > a:focus {
  font-size: 15px;
}
.nav-tabs > li > a {
  font-size: 14px;
  margin-right: 0;
}
.bread-title {
  font-size: 81px;
  margin-top: -35px;
}
.update_cart a {
  font-size: 13px;
  padding: 10px 16px;
}
.featered_products .owl-carousel .owl-next {
  right: 9px;
}
}