#searchbox {
    background: #e6e6e6;
    border-bottom: 1px solid #ccc;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
* {
    box-sizing: inherit;
}



#searchtext {
    margin-left: 1px;
}
.input.full, .full.textarea {
    width: 100%;
}
.input.medium, .medium.textarea {
    width: 50%;
}
.input, .input.valid, .input.error, .textarea {
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    padding: 0 1rem;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button, input, optgroup, select, textarea {
    color: #1a1a1a;
}
input, button, select, label, .btn {
    vertical-align: middle;
    font-family: inherit;
    font-size: inherit;
}
img, table, td, blockquote, code, pre, textarea, input, video {
    max-width: 100%;
}
input {
    line-height: normal;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
input {
    line-height: normal;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}
* {
    box-sizing: inherit;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.select {
    position: relative;
    width: 100%;
    padding: 0 25px 0 15px;
    padding: 0 2.5rem 0 1.5rem;
    height: 40px;
    line-height: 38px;
    color: #1a1a1a;
    border: none;
    background: transparent;
    cursor: pointer;
    outline: none;
    z-index: 10;
    font-size: 13px;
    font-size: 1.3rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    text-align: left;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.toggleElement {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.searchbox input[type="submit"] {
    width: 100%;
    line-height: 36px;
    text-transform: uppercase;
    font-size: 14px;
    font-size: 1.4rem;
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}
.button.full, .full.button-blue, .full.button-blue-mobile, .full.button-lightgrey, .full.button-orange, .full.button-orange-mobile, .full.button-white, .full.button-white-mobile, .full.button-red, .full.button-red-mobile {
    width: 100% !important;
}
.button-blue:hover, .button-blue-mobile:hover, .button-blue:focus, .button-blue-mobile:focus {
    background: #4c94ef;
    color: #fff;
}
.button.full, .full.button-blue, .full.button-blue-mobile, .full.button-lightgrey, .full.button-orange, .full.button-orange-mobile, .full.button-white, .full.button-white-mobile, .full.button-red, .full.button-red-mobile {
    width: 100% !important;
}
.button:hover, .button-blue:hover, .button-blue-mobile:hover, .button-lightgrey:hover, .button-orange:hover, .button-orange-mobile:hover, .button-white:hover, .button-white-mobile:hover, .button-red:hover, .button-red-mobile:hover, .button:active, .button-blue:active, .button-blue-mobile:active, .button-lightgrey:active, .button-orange:active, .button-orange-mobile:active, .button-white:active, .button-white-mobile:active, .button-red:active, .button-red-mobile:active {
    text-decoration: none;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
.searchbox_row {
    min-height: 41px;
}
.button-blue, .button-blue-mobile {
    background: #4183d7;
}
.button, .button-blue, .button-blue-mobile, .button-lightgrey, .button-orange, .button-orange-mobile, .button-white, .button-white-mobile, .button-red, .button-red-mobile {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    height: 40px;
    min-width: 40px;
    padding: 0 20px;
    padding: 0 2rem;
    line-height: 38px;
    color: #fff;
    outline: none;
    text-align: center;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    -webkit-transition: all,0.3s;
    -moz-transition: all,0.3s;
    transition: all,0.3s;
    cursor: pointer;
}
button, input, optgroup, select, textarea {
    color: #1a1a1a;
}
input, button, select, label, .btn {
    vertical-align: middle;
    font-family: inherit;
    font-size: inherit;
}
img, table, td, blockquote, code, pre, textarea, input, video {
    max-width: 100%;
}
input {
    line-height: normal;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
input {
    line-height: normal;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}

.searchbox .checkbox, .searchbox .radio {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}
.checkbox, .checkboxLight, .radioLight, .radio, .checkbox-medium, .radio-medium {
    min-height: 20px;
    margin: 0;
    color: #1a1a1a;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.radio, .checkbox {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
label {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}
input, button, select, label, .btn {
    vertical-align: middle;
    font-family: inherit;
    font-size: inherit;
}
p, .p-like, ul, ol, dl, blockquote, pre, td, th, label, textarea, caption, details, figure {
    margin-top: 0.75em;
    margin-bottom: 0;
    line-height: 1.5;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}

.searchbox {
    position: relative;
    padding: 20px 0;
    padding: 2rem 0;
}
form, fieldset {
    border: none;
}

.customSelect.visible {
    display: block;
}
.visible {
    display: block !important;
}
.visible {
    display: block !important;
}
.customSelect_categories {
    top: 70px;
    padding: 10px;
    padding: 1rem;
    z-index: 100;
}
.customSelect {
    display: none;
    position: absolute;
    width: auto;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px 0;
    padding: 1rem 0;
    border: 1px solid #ccc;
    border-radius: 4px 4px 0 4px;
    background: #fff;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

#searchtext {
    margin-left: 1px;
}
.input.full, .full.textarea {
    width: 100%;
}
.input.medium, .medium.textarea {
    width: 50%;
}
.input, .input.valid, .input.error, .textarea {
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    padding: 0 1rem;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button, input, optgroup, select, textarea {
    color: #1a1a1a;
}
input, button, select, label, .btn {
    vertical-align: middle;
    font-family: inherit;
    font-size: inherit;
}
img, table, td, blockquote, code, pre, textarea, input, video {
    max-width: 100%;
}
input {
    line-height: normal;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

.grid-3-1 > :nth-child(2n) {
    width: -webkit-calc(25% - 1em);
    width: calc(25% - 1em);
}
[class*="grid-"] > * {
    -webkit-box-flex: 0 0 auto;
    -moz-box-flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    display: block;
    width: -webkit-calc(100% * 1 / 4 - 1em);
    width: calc(100% * 1 / 4 - 1em);
    margin-left: 1em;
}

.inputWrapper .nude {
    height: 36px;
    width: 100%;
    border: none;
    font-size: 12px;
    font-size: 1.2rem;
}
button, input, optgroup, select, textarea {
    color: #1a1a1a;
}
input, button, select, label, .btn {
    vertical-align: middle;
    font-family: inherit;
    font-size: inherit;
}
img, table, td, blockquote, code, pre, textarea, input, video {
    max-width: 100%;
}
input {
    line-height: normal;
}

.checkbox input[type="checkbox"], .checkboxLight input[type="checkbox"], .radioLight input[type="checkbox"], .radio input[type="checkbox"], .checkbox-medium input[type="checkbox"], .radio-medium input[type="checkbox"] {
    border-radius: 4px;
}
.checkbox input, .checkboxLight input, .radioLight input, .radio input, .checkbox-medium input, .radio-medium input {
    height: 15px;
    width: 15px;
    margin-right: 10px;
    margin-right: 1rem;
    background: #fff;
    border: 1px solid #ccc;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
}
input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
button, input, optgroup, select, textarea {
    color: #1a1a1a;
}
input, button, select, label, .btn {
    vertical-align: middle;
    font-family: inherit;
    font-size: inherit;
}

[class*="grid-"] {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -1em;
}
 